{% load static %}
<div class="text-white mx-8 mb-28 font-montserrat md:mx-52">
    <h1 class="text-3xl uppercase font-semibold">Admission Conditions</h1>
    <h3 class="text-2xl font-medium">Submission of documents online <br>
    List of ducuments for admission
    </h3>
    <ul class="list-decimal ml-10">
        <li>Passport scan</li>
        <li>3x4 photos in 6 pieces</li>
        <li>Certificate of no criminal record</li>
        <li>Original documents from school/college</li>
    </ul>
    <h3 class="text-2xl font-medium pt-6">Documents requires to be made in Kazakhstan</h3>
    <ul class="list-decimal ml-10">
        <li>075 form medical certificate</li>
        <li>Fluorography document</li>
        <li>Nostrification of documents from school / college (to Kazakh or Russian language)</li>
        <li>Interview</li>
        <li>Payment</li>
        <li>Enrollment</li>
    </ul>
</div>