{% extends 'accounts/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<!-- {% if request.user.is_authenticated %} -->
    <section class="w-full flex flex-col items-center min-h-screen gap-10 max-container mt-4 ">
        <h1 class="text-3xl text-white">Welcome, {{ request.user.username }}</h1>
        <!-- <h2 class="text-2xl text-white">Welcome, {{ request.user.username }}</h2> -->
        <h2 class="text-2xl text-white">Submit documents online <br>
            List of documents for admission
        </h2>
      
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        <div class="flex items-center justify-center gap-20 flex-col my-8 ">
            <div class="flex flex-col gap-4">
                <h3 class="text-white text-center">Upload PDF or JPG/PNG</h3>
                <label for="document_passport" class="text-white text-lg">Passport Scan</label>
                <input type="file" name="document_passport" id="document_passport" class="text-white mb-2 text-sm font-medium" accept=".png,.jpg,.pdf" required />
                <label for="upload_photo" class="text-white text-lg">Upload 3x4 photo</label>
                <input type="file" name="upload_photo" id="upload_photo" class="text-white mb-2 text-sm font-medium" accept=".png,.jpg" required />
                <label for="upload_certificate" class="text-white text-lg">Certificate of no criminal record</label>
                <input type="file" name="upload_certificate" id="upload_certificate" class="text-white mb-2 text-sm font-medium" accept=".png,.jpg,.pdf" required />
                <label for="school_documents" class="text-white text-lg">Original documents from school / college</label>
                <input type="file" name="school_documents" id="school_documents" class="text-white mb-2 text-sm font-medium" accept=".png,.jpg,.pdf" required />
                <button type="submit" class="self-center text-white w-[256px] h-[30px] rounded-md mt-2 bg-slate-600 hover:bg-slate-500">Save</button>
            </div>
            <div class="text-white-400 text-lg p-2 ">{{ form.errors }}</div>
        </div>
    </form>
    <!-- {% else %}
    {% include 'accounts/conditions.html' %}
    <div class="h-[600px] flex justify-center items-center gap-40 text-4xl">
        <a href="{% url 'login' %}" class="text-white">Login</a>
        <a href="{% url 'register' %}" class="text-white">Sign Up</a>
    </div>
    {% endif %} -->
    </section>
    
{% endblock %}

