{% load static %}
<nav class="flex justify-around items-center max-md:flex-col max-md:justify-center p-4 max-md:gap-10 bg-primary md:h-32 text-white font-montserrat max-md:text-sm">
    
   <ul>
        <li><a href="mailto:info@almau.edu.kz" class="hover:text-white-400">info@almau.edu.kz</a></li>
        <li>050060 Republic of Kazakhstan,</li>
        <li>Almaty, 227 Rozybakiev str.</li>
   </ul>
   <ul>
       <li><a href="https://instagram.com/almau_edu" target="_blank" class="hover:text-white-400"> <i class="fab fa-instagram"></i> almau_edu</a></li>
       <li><a href="https://wa.me/77273133090" target="_blank" class="hover:text-white-400"><i class="fab fa-whatsapp"></i> +7 727 313 30 90 (93)</li></a>
       <li><a href="https://wa.me/77715527861" target="_blank" class="hover:text-white-400"><i class="fab fa-whatsapp"></i> +7 771 552 78 61</li></a>
   </ul>
        
</nav>