{% extends 'accounts/base.html' %}

{% block title %}Documents{% endblock %}

{% block content %}

<div class="p-8 flex flex-col items-center gap-10">
  {% for doc in docs %}
  <div class="max-w-sm rounded overflow-hidden shadow-2xl">
      <img class="w-[354px] h-[472px]" src="{{ doc.upload_photo.url }}" alt="{{ doc.student }}">
      <div class="px-6 py-4 text-white">
          <div class="font-bold text-xl mb-2">{{ doc.student }}</div>
          <p>Status: 
              <form action="{% url 'list_docs' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="doc_id" value="{{ doc.id }}">
                  <select name="status" class="text-black rounded-lg">
                      <option value="Accepted" {% if doc.status == 'Accepted' %}selected{% endif %}>Accepted</option>
                      <option value="Rejected" {% if doc.status == 'Rejected' %}selected{% endif %}>Rejected</option>
                      <option value="Pending" {% if doc.status == 'Pending' %}selected{% endif %}>Pending</option>
                  </select>
                  <button type="submit" class="p-3 bg-slate-500 rounded-lg hover:bg-slate-400">Change Status</button>
              </form>
          </p>
          <p><a href="mailto:{{ doc.student.email }}" class="hover:text-slate-400">{{ doc.student.email }}</a></p>
          <p><a href="{{ doc.document_passport.url }}" class="hover:text-slate-400" target="_blank">Passport</a></p>
          <p><a href="{{ doc.school_documents.url }}" class="hover:text-slate-400" target="_blank">School/College documents</a></p>
          <p><a href="{{ doc.upload_certificate.url }}" class="hover:text-slate-400" target="_blank">Certificate of no criminal record</a></p>
          <form action="{% url 'delete_student_docs' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="student_id" value="{{ doc.student.id }}">
              <button type="submit" class="p-3 bg-red-500 rounded-lg mt-6">Delete Documents</button>
          </form>
      </div>
  </div>
  {% endfor %}
</div>


{% endblock %}