{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRM{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    {% tailwind_css %}
</head>
<!-- class="bg-gradient-to-b from-gradient-one to-gradient-two" -->
<body class="bg-gradient-to-b from-gradient-one to-gradient-two"> 
    <nav class="flex justify-around items-center max-md:flex-col p-4 max-md:gap-10 bg-primary md:h-36 text-white font-montserrat">
        <h3 class="text-[min(2vw,50px)]">One University One Community</h3>

        <div class="flex flex-col text-center gap-1">
            <a href="tel:+7 727 313 30 90 (93)" class="hover:text-white-400">+7 727 313 30 90 (93)</a>
            <a href="mailto:info@almau.edu.kz" class="hover:text-white-400">info@almau.edu.kz</a>
            <a href="https://priem.almau.edu.kz/" target="_blank" class="hover:text-white-400">Official Site</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% include 'accounts/conditions.html' %}

    {% include 'accounts/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>
</html>