{% extends 'accounts/main.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<section class="w-full flex justify-center items-center min-h-screen max-container">
    <div class="flex max-lg:flex-col items-center lg:gap-72 gap-12">
        <img src="{% static 'images/logo-almau.png' %}" alt="Almau-Logo" class="w-[min(70vw,600px)]">
        <form method="post" action="">
            {% csrf_token %}
            <div class="flex flex-col gap-4">
                <!-- {{ form.as_p }} -->
                <input type="text" name="username" placeholder="Username" class="input text-sm" required>
                <input type="email" name="email" placeholder="Email" class="input text-sm" required>
                <input type="text" name="first_name" placeholder="First Name" class="input text-sm" required>
                <input type="text" name="last_name" placeholder="Last Name" class="input text-sm" required>
                <!-- <input type="tel" name="phone" placeholder="Phone Number" class="input text-sm" required> -->
                <input type="password" name="password1" placeholder="Password" class="input text-sm" required>
                <input type="password" name="password2" placeholder="Confirm Password" class="input text-sm" required>
            </div>
            <button type="submit" class="text-white w-[256px] h-[30px] rounded-md mt-2">Sign Up</button>
            <!-- <input type="submit" name="Create user" value="Зарегистрироваться" class="text-white w-[256px] h-[30px] rounded-md mt-2 cursor-pointer"> -->
            <p class="text-white text-center">Already have an account? <a href="{% url 'login' %}" class="underline">Login</a></p>
        </form>
    </div>
    
</section>

{% endblock %}
